.title_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-3);
}

.todo_controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--size-3);

  & .todo_controls_item {
    flex: 0 0 auto;
    padding-right: var(--size-3);
  }
}
